
<%
    locals.js = ['site/index/4fun'];
    locals.navType = '4fun';
    locals.keywords = ['轻松一刻'];
    locals.description = '';

    var string = _require('util/string');
    var file = _require('util/file');
    var uri = _require('frame/uri');

    var oItem = locals.item;
    var bOnlyTxt = locals.onlyTxt;
    var bOnlyImg = locals.onlyImg;

    // 获取图片显示高度
    var fGetHeight = function (nWidth, sSize) {
        if (!nWidth || !sSize) {
            return nWidth;
        }
        var aSize = sSize.split('*');
        return Math.floor(nWidth * aSize[1] / aSize[0]);
    }
%>
<%- include ../_header.html %>

<div class="hx-content clearfix">

    <div class="hx-content-wrap hx-radius hx-fun-content" id="jsItem{{ item.id if item.id else '' }}">
        <% if (oItem.imgBak) { %>
        <div><img class="hx-fun-item-img" src="<%= file.getImage('huaxinjiayou', oItem.img, {width: 360, mode: 2}) %>" width="360" /></div>
        <% } %>

        <div class="hx-icontent-body">
            <div class="hx-content-word">
                <%- oItem.content || '暂无内容' %>
            </div>
        </div>

        <div class="hx-article-info hx-normal-link">
            <% if (oItem.url) { %>
            <a href="<%= oItem.url %>"><%= oItem.source || '来源' %></a> 
            <% } else if (oItem.source) { %>
            <span>来源:<%= oItem.source.trim() %></span> 
            <% } %>
        </div>

        <div class="hx-content-tab hx-content-tab-1 clearfix">
            <div class="hx-content-tab-item">
                <%- partial('/partial/likeLink', {
                    obj: oItem,
                    type: 'joke',
                    isLike: locals.isLike,
                    val: locals.likeCount
                }) %>
            </div>
        </div>

    </div>

    <div class="hx-content-wrap ha-radius hx-fun-content" id="jsToolbar">
        <div class="hx-content-tab hx-content-tab-1 clearfix hx-content-tab-alone">
            <div class="hx-content-tab-item">
                <a href="javascript:void(0);" class="js-add-joke">加一个(<span class="hx-important">乐在分享</span>)</a>
            </div>
        </div>
    </div>

</div>

<%- include ../_footer.html %>