<%
    locals.js = ['site/sign/index'];
    locals.title = '邮件验证失败';

    var uri = _require('frame/uri');
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <div class="hx-content-wrap hx-radius">

            <div class="hx-sign-box">
                <div class="hx-sign-box-header">
                    <h1>邮件验证失败</h1>
                </div>
                <div class="hx-sign-box-line">
                    <p>如果没收到邮件，可能被邮箱误判为垃圾邮件，请到“垃圾邮件”中查找。</p>
                    <p>邮件验证的有效期限为发送邮件时的24小时之内，如果超过时限，您可以尝试 <a href="<%= uri.signSend %>">重新发送验证邮件。</a></p>
                </div>
            </div>

        </div>
    </div>
    <%- partial('/partial/signRight', {
        type: 'codeErr'
    }) %>
</div>

<%- include ../_footer.html %>