<%
    locals.js = ['site/sign/index'];
    locals.title = '修改密码';
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <div class="hx-content-wrap hx-radius">

            <div class="hx-sign-box">
                <div class="hx-sign-box-header">
                    <h1>修改密码</h1>
                </div>
                <form id="actionForm" action="/sign/repwd" data-type="repwd" method="post">
                    <div class="hx-sign-box-line">
                        <label>邮　　箱:</label>
                        <input disabled type="text" class="text disabled" value="<%= locals.email || flash.email || '' %>">
                    </div>
                    <div class="hx-sign-box-line">
                        <label>密　　码:</label>
                        <input id="signupPassword" name="password" type="password" class="text" autocapitalize="off" placeholder="最少6位，大小写字母和数字组合密码更保险">
                    </div>
                    <div class="hx-sign-box-line">
                        <label>确认密码:</label>
                        <input id="signupRePassword" name="repwd" type="password" class="text" autocapitalize="off" placeholder="重复一下上面的密码哈">
                    </div>
                    <input type="hidden" name="code" value="<%= locals.code || '' %>">
                    <input id="emailIpt" type="hidden" name="email" value="<%= locals.email || flash.email || '' %>">
                    <div class="hx-sign-box-line">
                        <button class="submit" type="submit">确认修改</button>
                    </div>
                </form>
                <div id="signupNote" class="hx-alert-warning hx-sign-box-note">
                    提示：赶快换一个密码吧。
                </div>
            </div>

        </div>
    </div>
    <%- partial('/partial/signRight', {
        type: 'rePwd'
    }) %>
</div>

<%- include ../_footer.html %>