<%
    locals.js = ['site/sign/index'];
    locals.title = '验证邮件已经发送';
    var uri = _require('frame/uri');
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <div class="hx-content-wrap hx-radius">

            <div class="hx-sign-box">
                <div class="hx-sign-box-header">
                    <h1>验证邮件已经发送</h1>
                </div>
                <div class="hx-sign-box-line">
                    <p>请在 24 小时内点击邮件中的链接完成邮箱验证。</p>
                    <p>如果没收到邮件，可能被邮箱误判为垃圾邮件，请到“垃圾邮件”中查找 或者尝试 <a href="<%= locals.type === 'signup' ? uri.signSend : uri.signForgetPwd %>">重新发送验证邮件。</a></p>
                </div>
            </div>

        </div>
    </div>
    <%- partial('/partial/signRight', {
        type: locals.type
    }) %>
</div>

<%- include ../_footer.html %>