<%
    locals.js = ['site/sign/index'];
    locals.title = '登录';
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <div class="hx-content-wrap hx-radius">

            <div class="hx-sign-box">
                <div class="hx-sign-box-header">
                    <h1>欢迎回来</h1>
                </div>
                <form id="actionForm" action="/sign/signin" data-type="signin" method="post">
                    <div class="hx-sign-box-line">
                        <label>邮箱:</label>
                        <input id="emailIpt" name="email" type="text" class="text" value="<%= flash.email || '' %>" placeholder="登录邮箱">
                    </div>
                    <div class="hx-sign-box-line">
                        <label>密码:</label>
                        <input id="passwordIpt" name="password" type="password" class="text" autocapitalize="off" placeholder="登录密码">
                    </div>
                    <div class="hx-sign-box-line">
                        <button class="submit" type="submit">登录</button>
                    </div>
                </form>

                <div id="signupNote" class="hx-alert-warning hx-sign-box-note">
                    提示：没有进行邮件验证的账号暂时不能登录呦。
                </div>
            </div>

        </div>
    </div>
    <%- partial('/partial/signRight', {
        type: 'signin'
    }) %>
</div>

<%- include ../_footer.html %>