.hx-icon{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.hx-icon-fback{
    width: 19px;
    height: 16px;
    background: url(/images/site/icon-fback.png);
}
.hx-icon-drag{
    width: 5px;
    height: 8px;
    display: inline-block;
    cursor: move;
    background: url(/images/site/icon-drag.png) center center no-repeat;
}
.hx-icon-pointer{
    width: 8px;
    height: 6px;
    display: inline-block;
    background: url(/images/site/icon-pointer.png) center center no-repeat;
}

.hx-index-banner{
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0 7px rgba(200,200,200,0.75);
    -moz-box-shadow: 0 0 7px rgba(200,200,200,0.75);
    box-shadow: 0 0 7px rgba(200,200,200,0.75);
    margin-bottom: 20px;
}
.hx-ibanner-wrap{
    position: relative;
    width: 1000px;
    height: 336px;
    margin: 0 auto;
}
.hx-ibanner-content{
    z-index: 10;
    width: 1000px;
    height: 336px;
    position: relative;
    zoom: 1;
}
.hx-ibanner-img{
    display: block;
    height: 336px;
    overflow: hidden;
}
.hx-ibanner-btn{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    text-indent: -9999px;
    z-index: 21;
    filter:alpha(opacity=40);
    opacity: 0.4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.hx-ibanner-left{
    left: -60px;
    background: url(/images/site/banner.png) 0 -360px no-repeat;
    _background: url(/images/site/ie6-arrl.png) 0 0 no-repeat;
}
.hx-ibanner-right{
    right: -60px;
    background: url(/images/site/banner.png) 0 -508px no-repeat;
    _background: url(/images/site/ie6-arrr.png) 0 0 no-repeat;
}
a.hx-ibanner-left:hover{
    background-color: #000;
}
a.hx-ibanner-right:hover{
    background-color: #000;
}
.hx-ibanner-note{
    position: absolute;
    top: 0;
    z-index: 20;
    right: -1px;
    width: 260px;
    height: 336px;
}
.hx-ibanner-note-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 336px;
    background-color: #000;
    filter:alpha(opacity=40);
    opacity: 0.4;
    z-index: 21;
}
.hx-ibanner-note-body{
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 22;
    width: 260px;
}
.hx-ibanner-note-title{
    text-align: center;
    padding: 0 30px 20px;
    font-size: 18px;
}
.hx-ibanner-note-title a{
    color: #f0f0f0;
}
.hx-ibanner-note-title a:hover{
    color: #fff;
}
.hx-ibanner-note-content{
    padding: 0 20px 50px;
    font-size: 14px;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;
}
.hx-ibanner-shadow{
    display: block;
    _display: none;
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 336px;
    background: url(/images/site/banner.png) no-repeat -1px 0;
}
.hx-ibanner-shadowr{
    display: block;
    _display: none;
    position: absolute;
    top: 0;
    width: 20px;
    height: 336px;
    left: auto;
    right: -20px;
    background: url(/images/site/banner.png) no-repeat -20px 0;
}

/*整块的头部*/
.hx-content-head{
    height: 33px;
    padding: 0 10px 0 0;
    border-bottom: 2px solid #1f86ce;
    margin-bottom: 20px;
}
.hx-content-title{
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

/*左侧内容*/
.hx-content-left{
    position: relative;
    float: left;
    width: 720px;
    zoom: 1;
}
.hx-icontent-body{
    margin: 20px;
    position: relative;
}

/*文章列表*/
.hx-list-post{
    margin: 10px 20px 10px 10px;
    position: relative;
}
.hx-content-inner-wrap .hx-list-post{
    margin: 0;
}
.hx-list-post .hx-profile-avatar-wrap-small{
    position: absolute;
    top: 0;
    left: 0;
}
.hx-list-post-title{
    display: block;
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 70px;
    vertical-align: top;
}
.hx-list-post-title:hover{
    color: #000;
}
.hx-list-post-description{
    display: block;
    color: #717171;
    margin-bottom: 5px;
    padding-left: 70px;
}
a.hx-list-post-description:hover{
    color: #717171;
}
div.hx-list-post-description span{
    padding-right: 8px;
}
.hx-list-post-info{
    color: #999;
}

/*左侧块包含table*/
.hx-table-wrap .hx-icontent-body{
    margin: 0;
}
.hx-table-wrap.hx-content-wrap .hx-list-table{
    border-top: none;
    border-left: none;
    border-right: none;
}
/*头部*/
.hx-icontent-head{
    height: 33px;
    padding: 0 10px 0 34px;
    background: url(/images/site/index.png) no-repeat -225px -156px;
    border-bottom: 2px solid #1f86ce;
}
.hx-icontent-title{
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    text-decoration: none;
}
a.hx-icontent-title:hover{
    text-decoration: none;
}
.hx-icontent-tab{
    float: left;
    margin: 7px 0 0 20px;
}
.hx-icontent-line{
    margin: 0 10px;
    color: #ccc;
}
.hx-icontent-more{
    float: right;
    margin-top: 9px;
}
.hx-icontent-more-icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background: url(/images/site/index.png) no-repeat 0 -240px;
}

/*右侧内容*/
.hx-content-right{
    position: relative;
    float: right;
    width: 260px;
    zoom: 1;
}

/*转换位置*/
.hx-content-revert .hx-content-left{
    float: right;
}
.hx-content-revert .hx-content-right{
    float: left;;
}

.hx-content-full .hx-content-left{
    width: 100%;
}
.hx-content-full .hx-content-right{
    display: none;
}

.hx-icontent-right-user-avatar{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    padding: 2px;
    background: #fff;
    border: 1px solid #dadada;
    position: relative;
    zoom: 1;
}
.hx-icontent-right-user-avatar img{
    display: block;
    width: 80px;
    height: 80px;
}
.hx-icontent-right-user-info{
    float: left;
    width: 115px;
    margin-left: 18px;
    padding-top: 3px;
}
.hx-icontent-right-user-note{
    overflow: hidden;
    color: #888;
    margin: 10px 0 0 0;
}
.hx-icontent-right-user-data{
    margin: 22px 0 0 20px;
}
.hx-icontent-right-user-data li{
    float: left;
    height: 40px;
    padding: 0 18px;
    border-right: 1px solid #e4e4e4;
}
.hx-icontent-right-user-data li.hx-icontent-right-user-data-first{
    padding-left: 0;
}
.hx-icontent-right-user-data li.hx-icontent-right-user-data-last{
    padding-right: 0;
    border-right: none;
}
.hx-icontent-right-user-data li a{
    display: block;
}
.hx-icontent-right-user-data li a strong{
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.hx-icontent-right-user-data li a span{
    /*margin-left: 2px;*/
}

/*专题列表页面*/
.hx-sl-body{
    padding: 30px 40px;
}
.hx-sl-head{
    height: 33px;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #1f86ce;
}
.hx-sl-title{
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}
.hx-extright a{
    display: inline-block;
    margin-left: 10px;
    line-height: 28px;
}

.hx-sl-list{
    margin: 0 0 0 -27px;
}
.hx-sl-list li{
    padding: 0 0 20px 27px;
}

/*专题页面*/
.hx-collect-info{
    padding: 40px 30px 20px 30px;
}
.hx-icontent-next-wrap .hx-collect-info{
    padding-top: 0;
}
.hx-collect-info-line{
    margin-bottom: 20px;
}
.hx-collect-cover{
    float: left;
    position: relative;
    display: inline;
    margin: -5px -180px 0 0;
    width: 160px;
    height: 200px;
    padding: 4px;
    border: 1px solid #e5e5e5;
}
.hx-collect-cover img{
    width: 160px;
    height: 200px;
    vertical-align: top;
}
.hx-collect-mask{
    width: 168px;
    height: 208px;
    top: -5px;
    left: -5px;
    position: absolute;
    border: 1px solid #e5e5e5;
}
.hx-collect-detail{
    float: right;
    width: 100%;
}
.hx-collect-wrap{
    margin-left: 190px;
}
.hx-collect-title{
    position: relative;
    margin: 0 0 12px;
    line-height: 24px;
}
.hx-collect-title h2{
    line-height: 26px;
    font-size: 20px;
    font-weight: normal;
}
.hx-collect-title h2 span{
    color: #000;
}

/*浮动方块样式*/
ul.hx-collection{
    position: relative;
    margin: 0 0 0 -45px;
    padding: 0;
}
.hx-collection li{
    position: relative;
    padding: 0 0 20px 45px;
    width: 152px;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.hx-collection li a.hx-icon-fback{
    display: none;
    position: absolute;
    z-index: 50;
    right: 5px;
    top: 5px;
}
.hx-collection li:hover a.hx-icon-fback{
    display: block;
}
.hx-collection-block{
    margin: 0 auto;
    /*padding: 10px 10px 5px 10px;*/
    padding: 4px 4px 5px 4px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.hx-collection-block-cover{
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}
.hx-collection-block-cover, .hx-collection-block-cover img{
    width: 140px;
    height: 175px;
}

/*表格样式*/
.hx-list-table{
    width: 100%;
    table-layout: fixed;
    border: 1px solid #d9d9d9;
}

/*标签的表格样式*/
.hx-list-table.hx-list-border-table td{
    border: 1px solid #d9d9d9;
}
.hx-list-table.hx-list-table-common td{
    border: 1px solid #d9d9d9;
    padding: 0!important;
}
.hx-list-table-common td a{
    display: block;
    padding: 5px 10px;
}
.hx-list-table-common .hx-list-table-common-th td{
    padding: 5px 10px!important;
}
.hx-list-table-common td a:hover{
    background: #fbfbfb;
}
.hx-list-table-common td a.selected{
    background: #f1f1f1;
    cursor: default;
    color: #333;
}

.hx-list-table th{
    height: 36px;
    background: url(/images/site/table.png) #f7f7f7 0 0 repeat-x;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    color: #666;
}
.hx-list-table .hx-lt-wp{
    height: 18px;
    line-height: 18px;
    padding: 8px 10px;
    background: url(/images/site/table.png) no-repeat;
    background-position: 0 -56px;
}
.hx-list-table .hx-lt-wpc{
    background-position: 0 -102px;
}
.hx-list-table th .hx-lt-first{
    background: none;
}
.hx-list-table .hx-lt-th1{
    width: 60px;
}
.hx-list-table .hx-lt-th2{
    width: 60px;
}
.hx-list-table .hx-lt-th3{
    width: 14%;
}
.hx-list-table .hx-lt-th4{
    width: 20%;
}
.hx-list-table td{
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
    /*width: 100%;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hx-list-table .hx-lt-even td{
    background-color: #f7f7f7;
}
.hx-list-table td.hx-lt-tdsort{
    text-align: center;
}
.hx-tb-part{
    width: 33%;
}
.hx-tb-part1{
    width: 34%;
}
.hx-icontent-bill-item-no{
    display: inline-block;
    width: 20px;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.hx-icontent-bill-item-no.no-top{
    color: #1f86ce;
}

/*文章页面*/
.hx-article-author-avatar{
    position: absolute;
    top: 20px;
    right: 20px;
}
.hx-article-header{
    padding: 20px 90px 0 20px;
}
.hx-article-title{
    line-height: 32px;
    /*height: 36px;*/
    vertical-align: top;
    font-size: 22px;
    /*font-weight: normal;*/
    font-weight: bold;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}
.hx-article-header-info{
    padding: 0 90px 5px 20px;
    line-height: 21px;
}
.hx-article-info{
    padding: 5px 20px;
    line-height: 21px;
}
.hx-article-header-info span,
.hx-article-info span{
    padding-right: 8px;
}
.hx-article-content{
    padding: 20px;
    overflow: hidden;
}
.hx-comment{
    background-color: #fbfbfb;
    border-top: 1px solid #d9d9d9;
}
.hx-comment-header{
    position: relative;
    height: 30px;
    margin: 20px 30px 0;
    position: relative;
    color: #333;
    background: url(/images/site/bg-line.gif) #fbfbfb left bottom repeat-x;
}
.hx-comment-header h3{
    font-size: 20px;
    float: left;
    height: 30px;
    line-height: 28px;
    background: url(/images/site/bg-lined1.gif) left bottom repeat-x;
}
.hx-comment-body{
    margin: 10px 30px 25px;
}

/*注册页面*/
.hx-sign-box{
    padding: 15px 20px;
}
.hx-sign-box-header{
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin: 0 0 10px;
}
.hx-sign-box-header h1{
    color: #3584c8;
}
.hx-sign-box-line{
    margin: 20px 0;
    text-align: center;
}
.hx-sign-box-note{
    margin: 20px 0;
    padding: 10px;
    color: #9b9b9b;
}
.hx-sign-box-line p{
    margin: 0 0 5px;
}
.hx-sign-box-line label{
    display: inline-block;
    font-size: 12px;
    /*height: 12px;
    line-height: 12px;
    padding: 9px 0;*/
    text-align: right;
    vertical-align: middle;
    margin-right: 10px;
}
.hx-sign-box-line input{
    width: 350px;
}
.hx-sign-box-line input.error{
    color: #b94a48;
    border: 1px solid red;
    background: #eed3d7;
}

input.disabled{
    color: #999;
    background: #f0f0f0;
}

/* 轻松一刻页面 */
.hx-fun-content{
    width: 360px;
    margin: 0 auto 20px;
}
.hx-fun-content .hx-block-tips-header{
    background: none;
    border-bottom: 1px solid #fbfbfb;
}
.hx-fun-content .hx-icontent-body{
    padding-bottom: 20px;
}

.hx-fun-container{
    margin-left: -16px;
    overflow: hidden;
}
.hx-fun-item{
    vertical-align: top;
    background: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-block;
    width: 236px;
    top: 0;
    margin: 0 0 16px 16px;
    *display:inline;
    *zoom:1;
}
.hx-fun-item-img{
    cursor: pointer;
    display: block;
    margin: 0 auto;
}




/*编辑*/
.hx-form-line{
    position: relative;
    margin: 0 0 20px;
}
.hx-form-line label{
    margin-right: 10px;
}
.hx-form-line input.text, .hx-form-line textarea{
    width: 942px;
}
.hx-form-line.group input.text, .hx-form-line.group textarea{
    padding-left: 60px;
    width: 932px;
}
.hx-form-line.group .label{
    position: absolute;
    top: 5px;
    display: block;
    width: 50px;
    text-align: center;
    color: #999;
}
.hx-form-label{
    vertical-align: top;
}
.hx-form-well{
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.hx-form-well .hx-form-line.group input.text, .hx-form-well .hx-form-line.group textarea{
    width: 870px;
}
.hx-form-tips{
    margin: 0 0 10px;
    color: #999;
}
.hx-form-tag-line span.form-tag-item{
    display: inline-block;
    margin-right: 20px;
    background: #fbfbfb;
    border: 1px solid #f1f1f1;
    padding: 0 5px;
}
.hx-form-tag-line span.form-tag-item a{
    display: block;
    float: right;
}
.hx-form-photo-line ul{
    margin-left: -16px;
}
.hx-form-photo-line li{
    float: left;
    padding: 0 0 6px 16px;
}
.hx-form-photo-line a.hx-form-thumbnail{
    display: block;
    position: relative;
    padding: 2px;
    width: 140px;
    height: 175px;
    border: 1px solid #e5e5e5;
}
.hx-form-photo-line a.hx-form-thumbnail .hx-cpn-swfupload-delete{
    display: none;
    _display: block;
}
.hx-form-photo-line a.hx-form-thumbnail:hover .hx-cpn-swfupload-delete{
    display: block;
}
.hx-form-photo-line a.hx-form-thumbnail img{
    vertical-align: top;
}

/*个人主页信息修改*/
.hx-form-line.group .text.info-ipt{
    width: 650px;
}

/*个人主页*/
.hx-profile-nav{
    width: 260px;
}
.hx-profile-data{
    width: 720px;
}
.hx-profile-avatar{
    position: relative;
    margin-bottom: 20px;
}
.hx-profile-avatar-wrap,
.hx-profile-avatar-wrap-middle,
.hx-profile-avatar-wrap-small,
.hx-profile-avatar-wrap-smallst{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 2px;
    background: #fff;
    /*border: 1px solid #e5e5e5;*/
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
            
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}
a.hx-profile-avatar-wrap:hover,
a.hx-profile-avatar-wrap-middle:hover,
a.hx-profile-avatar-wrap-small:hover{
    background: #3584c8;
}
.hx-profile-avatar-wrap img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.hx-profile-avatar-wrap-middle,
.hx-profile-avatar-wrap-middle img{
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
       -moz-border-radius: 80px;
            border-radius: 80px;
}
.hx-profile-avatar-wrap-small{
    padding: 1px;
}
.hx-profile-avatar-wrap-small,
.hx-profile-avatar-wrap-small img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}
.hx-profile-avatar-wrap-smallst{
    padding: 0;
}
.hx-profile-avatar-wrap-smallst,
.hx-profile-avatar-wrap-smallst img{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

/*头像不需要圆角的话，直接去掉这里的注释就可以了*/
.hx-profile-avatar-wrap.rectangle img,
.hx-profile-avatar-wrap-middle.rectangle,
.hx-profile-avatar-wrap-middle.rectangle img,
.hx-profile-avatar-wrap-small.rectangle,
.hx-profile-avatar-wrap-small.rectangle img,
.hx-profile-avatar-wrap-smallst.rectangle,
.hx-profile-avatar-wrap-smallst.rectangle img{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.hx-profile-avatar-wrap.rectangle,
.hx-profile-avatar-wrap-middle.rectangle,
.hx-profile-avatar-wrap-small.rectangle,
.hx-profile-avatar-wrap-smallst.rectangle{
    padding: 0;
}


.hx-profile-detail-title{
    text-align: center;
    margin-bottom: 10px;
}
.hx-profile-detail-title h2{
    line-height: 24px;
    font-size: 20px;
    font-weight: normal;
}
a.hx-profile-nav-item{
    display: block;
    height: 36px;
    line-height: 36px;
    background: #fff;
    text-align: center;
    border: 1px solid #e5e5e5;
}
a.hx-profile-nav-item:hover{
    background: #08c;
    color: #fff;
}

/**
 * 修改列表
 *
 * .hx-tr: 普通的一行
 * .hx-th: 行头
 * .hx-tr-one: 只有一个空格的行
 * .hx-tr-last: 最后一行
 * .hx-tr-event: 单数行，会加颜色
 * .hx-tr-selected: 选中行，浅色
 * ..hx-tr-selected-strong: 选中行，颜色加重
 */
.hx-table-part{
    margin-bottom: 20px;
}
.hx-tr, .hx-tr-last{
    background: #fff;
    width: 1000px;
    height: 30px;
    overflow: hidden;
}
.hx-tr:hover{
    background: #f7f7f7;
}
.hx-th{
    margin-bottom: 20px;
    width: 960px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}
.hx-tr-special{
    margin-bottom: 0;
    border-bottom: 1px solid #1f86ce;
}
.hx-tr-last{
    height: auto;
}
.hx-tr-even{
    /*background: #f7f7f7;*/
}
.hx-tr-selected{
    overflow: visible;
    background: #fcf8e3;
}
.hx-tr-selected-strong{
    background: #faebcc;
}
.hx-tr-selected .hx-icon-pointer{
    position: absolute;
    top: -4px;
    _top: -6px;
}
.hx-tr-one.hx-tr-selected .hx-icon-pointer{
    display: none;
}
.hx-tr-selected .hx-cell-one, .hx-tr-selected .hx-cell{
    position: relative;
}

.hx-cell{
    float: left;
    height: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-right: -1px;
}
.hx-tr-one .hx-cell{
    float: none;
    margin-right: 0;
    border-top: none;
}
.hx-cell-wrap{
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
}

.hx-cell-drag{
    width: 50px;
}
.hx-cell-title{
    width: 494px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hx-tr .hx-cell-title, .hx-tr-last .hx-cell-title{
    text-align: left;
}
.hx-cell-title .hx-cell-wrap{
    padding-left: 15px;
}
.hx-tr.hx-tr-special .hx-cell-title .hx-cell-wrap{
    padding-left: 5px;
    font-weight: bold;
}

.hx-cell-count{
    width: 100px;
}
.hx-cell-action{
    width: 250px;
}
.hx-cell-date{
    width: 100px;
}
.hx-cell-action a{
    display: inline-block;
    margin: 0 5px;
}

/*首页书籍*/
ul.hx-index-books-collection{
    margin-left: -32px;
}
ul.hx-index-books-collection li{
    padding-left: 32px;
    padding-bottom: 0;
    width: 146px;
}
ul.hx-index-books-collection .hx-collection-block{
    border: none;
    padding: 0 0 10px;
}
ul.hx-index-books-collection .hx-collection-block-cover{
    padding: 2px;
    border: 1px solid #e5e5e5;
}

/*书籍页面*/
ul.hx-books-collection{
    margin: 0 0 0 -37px;
}
ul.hx-books-collection li{
    padding: 0 0 20px 37px;
}

/*用户页面*/
ul.hx-users-collection{
    margin: 0 0 0 -4px;
}
ul.hx-users-collection li{
    padding: 0 0 0 4px;
    width: 33px;
    height: auto;
    border: 0;
}

/*花名册*/
ul.hx-card-collection{
    margin: 0 0 0 -20px;
}
li.hx-user-card{
    width: 184px;
    padding-left: 20px;
}
li.hx-user-card a.hx-profile-avatar-wrap-middle{
    /*margin: 15px auto 5px;*/
    margin: 15px auto;
    position: relative;
    z-index: 1;
}
div.hx-user-card-content{
    position: relative;
    margin-top: 0;
    padding: 0 0 20px;
}
div.hx-user-card-content:hover{
    background: #fbfbfb;
}
li.hx-user-card .hx-profile-detail-title h2{
    font-size: 14px;
}
