
<%
    locals.navType = 'profile';
    var uri = _require('frame/uri');
    var util = _require('util/util');
    var string = _require('util/string');

    var oNote = locals.note;
    var aItem = locals.items || [];
    var nCount = aItem.length;
    var aRpIds = locals.rpIds;
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">

    <div class="hx-block-tips-header hx-block-tips-header-alone">
        <h3>
            <a href="<%= uri.profile(session.user) %>">个人中心</a> .
            <a href="<%= uri.writerNote('index') %>">管理专题</a> .
            专题《<%= string.left(oNote.title, 32) %>》
        </h3>

        <div class="hx-extright right">
            <a href="<%= uri.writerNote('edit', oNote) %>">修改本专题</a>
            <a href="<%= uri.common('note', oNote) %>">查看本专题</a>
            <a href="<%= uri.writerNote('new') %>">新建专题</a>
        </div>
    </div>

    <% if (nCount === 0) { %>
    <div class="hx-content-wrap hx-radius">
        <div class="txt-center hx-none-tips">
            <img src="<%= staticUrl('/images/site/none-content.png') %>" style="width:257px;" />
            <div>
                暂无数据
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="hx-mb-20">
        <% aItem.forEach(function (oItem, nIndex) { %>
        <div data-id="<%= oItem.id %>" class="<%= nIndex + 1 === nCount ? 'hx-tr hx-tr-last' : 'hx-tr' %> <%= nIndex % 2 === 0 ? 'hx-tr-even' : '' %> clearfix">
            <div class="hx-cell hx-cell-drag">
                <div class="hx-cell-wrap txt-center"><%= nIndex + 1 %></div>
            </div>
            <div class="hx-cell hx-cell-title">
                <div class="hx-cell-wrap">
                    <a target="_blank" href="<%= uri.common('post', oItem) %>"><%= string.left(oItem.title, 32) %></a>
                </div>
            </div>
            <div class="hx-cell hx-cell-count">
                <div class="hx-cell-wrap"><%= oItem.words %></div>
            </div>
            <div class="hx-cell hx-cell-action">
                <div class="hx-cell-wrap">
                    <a class="js-del" data-type="rp" data-id="<%= aRpIds[nIndex] %>" href="javascript:void(0);">删除</a>
                </div>
            </div>
            <div class="hx-cell hx-cell-date">
                <div class="hx-cell-wrap"><%= util.date(oItem.createdAt, 'yyyy-MM-dd') %></div>
            </div>
        </div>
        <% }) %>
    </div>
    <% } %>

</div>

<%- include ../_footer.html %>