body{
    font-size: 12px;
}

.hx-overflow{
    overflow: hidden;
}
.hx-cpn-move{
    cursor: move;
}

/*遮罩层*/
.hx-cpn-mask{
    position: absolute;
    top: 0;
    left: 0;
    /*background: #f0f0f0;*/
    background: url(/images/bg/default-bg.png) repeat 0 0 #f4f4f4;
    opacity: 0.90;
    width: 100%;
    filter:alpha(opacity=90);
}

.hx-layer-container{
    position:absolute;
    overflow:auto;
    top:0;
    left:0;
    z-index: 100;
    overflow: hidden;
}
.hx-layer-container-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.hx-layer-container-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/*弹出框*/
.hx-cpn-popup{
    position: absolute;
    background: #fff;
    border: 1px solid #d3d3d3;
}
.hx-cpn-popup-header{
    position: relative;
    height: 40px;
    padding: 0 20px 0 20px;
    color: #333;
    /*background: url(/images/site/bg-line.gif) #f8f8f8 left bottom repeat-x;*/
    background: #f8f8f8;
}
.hx-cpn-popup-header h3{
    /*float: left;*/
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.hx-cpn-popup-header a.extright{
    position: absolute;
    top: 8px;
    right: 10px;
    color: #333;
    font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.hx-cpn-popup-header a.extright:hover{
    text-decoration: none;
}
.hx-cpn-popup-body{
    margin: 20px;
}
.hx-cpn-popup-footer{
    position: relative;
    height: 40px;
    line-height: 20px;
    padding: 0 20px 0 10px;
    color: #333;
    /*text-align: right;*/
    /*background: url(/images/site/bg-line.gif) left top repeat-x;*/
    background: #f8f8f8;
}
.hx-cpn-popup-footer-note{
    color: #333;
    padding: 2px 10px 2px 0;
    margin: 7px 5px 0 0;
}

.hx-cpn-popup-btn{
    color: #333;
    display: inline-block;
    padding: 2px 10px;
    margin: 7px 0 0 5px;
    text-decoration: none;
    background: #f8f8f8;
    border: 1px solid #d3d3d3;
}
a.hx-cpn-popup-btn:hover {
    text-decoration: none;
}

/*分页*/
.hx-cpn-pager{
    margin: 20px 0;
    text-align: center;
}
.hx-cpn-pager-btn,
.hx-cpn-pager-btn-first,
.hx-cpn-pager-btn-last{
    color: #717171;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: none;
    vertical-align: middle;
    padding: 0 2px;
    background-color: #fff;
    width: 26px;
    height: 28px;
    line-height: 28px;
}
.hx-cpn-pager-btn-first{
    border-radius: 4px 0 0 4px;
}
.hx-cpn-pager-btn-last{
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}
a.hx-cpn-pager-btn:hover{
    background-color: #fbfbfb;
    color: #eb7350;
}
.hx-cpn-pager-pn{
    width: 50px;
    background: #f2f2f2;
}
.hx-cpn-pager-pn:hover{
    background: #f8f8f8;
}
.hx-cpn-pager-disabled{
    color: #cacaca;
    cursor: default;
    background: #ededed;
}
a.hx-cpn-pager-disabled:hover{
    background: #ededed;
    border-color: #ccc;
}
.hx-cpn-pager-selected{
    background-color: #fbfbfb;
    color: #3584c8;
    font-weight: bold;
}
a.hx-cpn-pager-selected:hover{
    color: #3584c8;
    font-weight: bold;
}
.hx-cpn-pager-dot{
    cursor: default;
}
a.hx-cpn-pager-dot:hover{
    background: #fff;
    color: #717171;
}

/*tab*/
.hx-cpn-tabs{
    font: 12px/1 "sans serif",tahoma,verdana,helvetica;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 5px;
    margin-bottom: 10px;
}
.hx-cpn-tabs-ul{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.hx-cpn-tabs-li {
    position: relative;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    margin: 0 2px -1px 0;
    padding: 0 20px;
    float: left;
    line-height: 25px;
    text-align: center;
    color: #555555;
    cursor: pointer;
}
.hx-cpn-tabs-li-selected {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #000;
    cursor: default;
}
.hx-cpn-tabs-li-on {
    background-color: #fff;
    color: #000;
}

/*上传弹框*/
.hx-cpn-swfupload-wrapper{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 37px;
    width: 72px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
}
.hx-cpn-swfupload-wrapper-hide{
    top: -10000px;
}
.hx-cpn-swfupload-photo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 2px;
}
.hx-cpn-swfupload-photo img{
    width: 100px;
    height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}
.hx-cpn-swfupload-body{
    width: auto;
    height: 370px;
    margin: 0 auto;
    overflow-y: auto;
}
.hx-cpn-swfupload-body-content{
    position: relative;
    padding: 10px;
}
.hx-cpn-swfupload-top{
    position: relative;
    margin-bottom: 10px;
}
.hx-cpn-swfupload-button{
    width: 72px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    background: #000;
}
.hx-cpn-swfupload-desc{
    margin-left: 82px;
    height: 23px;
    line-height: 23px;
}
.hx-cpn-swfupload-startupload{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    line-height: 18px;
}
.hx-cpn-swfupload-selected{
    display: none;
    background: url(/images/cpanel/default.png) no-repeat scroll 0px -944px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.hx-cpn-swfupload-delete{
    display: block;
    background: url(/images/cpanel/default.png) no-repeat scroll 0px -688px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
ul.hx-cpn-swfupload-list{
    margin-left: -12px;
}
.hx-cpn-swfupload-item{
    width: 104px;
    display: block;
    cursor: pointer;
    float: left;
    padding: 0 0 10px 12px;
}
.hx-cpn-swfupload-name {
    width: 100px;
    _width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
}
.hx-cpn-swfupload-status {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100px;
    height: 17px;
}
.hx-cpn-swfupload-progressbar{
    position: relative;
    margin: 0;
    padding: 0;
}
.hx-cpn-swfupload-progressbar-bar{
    border: 1px solid #6fa5db;
    width: 80px;
    height: 5px;
    margin: 10px 10px 0 10px;
    padding: 0;
}
.hx-cpn-swfupload-progressbar-bar-inner{
    width: 0;
    height: 5px;
    background-color: #6fa5db;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.hx-cpn-swfupload-progressbar-percent{
    position: absolute;
    top: 0;
    left: 40%;
    display: none;
}
.hx-cpn-swfupload-message{
    width: 100px;
    text-align: center;
    overflow: hidden;
    height: 17px;
}

/*编辑器*/
.hx-cpn-editor{
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    /*overflow: hidden;*/
}
.hx-cpn-editor-toolbar{
    padding: 3px 10px;
    margin: 0;
    height: 24px;
    line-height: 24px;
    /*background: url(/images/site/bg-line.gif) #f8f8f8 left bottom repeat-x;*/
    border-bottom: 1px solid #e5e5e5;
}
.hx-cpn-editor-toolbar a{
    display: block;
    float: left;
    margin: 0 15px 0 0;
}
.hx-cpn-editor-body{
    margin: 0;
    padding: 0;
    /*overflow: auto;*/
}
.hx-cpn-editor-input{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.hx-cpn-editor-input textarea{
    padding: 10px;
    margin: 0;
    display: block;
    border: none;
    outline: 0;
    font-size: 14px;
    line-height: 23px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.hx-cpn-editor-preview{
    width: 49.5%;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    background: #f6f6f6;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.hx-cpn-editor-preview-content{
    padding: 10px;
    font-size: 14px;
}

/*菜单组件*/
.hx-cpn-menu{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 7px rgba(200,200,200,0.5);
       -moz-box-shadow: 0 0 7px rgba(200,200,200,0.5);
            box-shadow: 0 0 7px rgba(200,200,200,0.5);
}
.hx-cpn-menu-item:hover{
    background: #f8f8f8;
}
.hx-cpn-menu-split{
    color: #e0e0e0;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
}

/*图片弹出框*/
.hx-cpn-popupimage{
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
}
.hx-cpn-popupmage-container{
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    cursor: url(http://static.zhihu.com/static/img/zoom-out.cur);
}
