
<%- include ../site/_header.html %>
<div class="hx-content clearfix">
    <div class="hx-content-wrap hx-radius">
        <div class="hx-icontent-body">

            <div class="hx-sl-head" style="text-align:center;">
                <h1 class="hx-sl-title" style="float:none;">抱歉，出现错误</h1>
            </div>

            <div class="txt-center hx-none-tips">
                <img src="<%= staticUrl('/images/site/none-content.png') %>" />
                <div>
                    
                    <% if (locals.isDev) { %>
                    <pre style="text-align:left;"><%= locals.msg %></pre>
                    <% } else { %>
                    <p><%= locals.msg %></p>
                    <% } %>
                    
                    <p><br /></p>
                    <p>可能是您不允许进行相关操作，也可能是站长瞎了没发现代码存在问题</p>
                    <p>我会不定时查看日志，及时修复可能存在的问题</p>
                    <p>您可以发邮件到 huaxinjiayou#gmail.com 提醒我（希望此事不会发生）</p>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include ../site/_footer.html %>