input, button, a {
    outline: none;
}
a{
    cursor: pointer;
    color: #3584c8;
    text-decoration: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}
a:hover{
    color: #eb7350;
    text-decoration:none;
}
em {
    font-style: normal;
    color: #c00;
}

.left{
    float: left;
}
.right{
    float: right;
}
.txt-center{
    text-align: center!important;
}
.txt-left{
    text-align: left!important;
}
.txt-right{
    text-align: right!important;
}
.txt-hide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html, body{
    height: 100%;
    text-rendering: optimizeLegibility;
}
body{
    height: 100%;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Tahoma';
    word-break: break-all;
    word-wrap: break-word;
}
body.font1{
    font-family: Georgia, "Times New Roman", Times, serif;
}
body.font2{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body.fun-page{
    background: #acbea8 url(/images/site/bg-fun.jpg) no-repeat fixed top center;
}
body.coming-soon, body.sign-page{
    background: url(/images/site/sign/automn_grass.jpg) repeat fixed top center;
}
body.fun-page div.hx-fun-content,
body.coming-soon div.hx-fun-content,
body.sign-page div.hx-content{
    filter:alpha(opacity=90);
    opacity: 0.9;
}

/*皮肤*/
body{
    background: url(/images/bg/default-bg.png) repeat 0 0 #f4f4f4;
}
.hx-container{
    background: url(/images/bg/default-bg.png) repeat 0 0 #f4f4f4;
}
body.skin-lemma{
    background: url(/images/bg/lemma-bg.jpg) repeat 0 0 #f4f4f4;
}
body.skin-lemma .hx-container{
    background: url(/images/bg/lemma-bg.jpg) repeat 0 0 #f4f4f4;
}

/*一些字体*/
.hx-block-tips-header h3,
.hx-tab-header-item,
.title-font{
    /*font-family: "Microsoft YaHei", "黑体";*/
    /*font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;*/
    /*font-weight: bold;*/
}

/*一些间距*/
.hx-mb-10{
    margin-bottom: 10px!important;
}
.hx-mb-20{
    margin-bottom: 20px!important;
}
.hx-mr-10{
    margin-right: 10px!important;
}

.hx-inline-block{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

/*警告相关*/
.hx-alert-warning{
    /*background-color: #F9F9F9;*/
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
}

/*提示框*/
.hx-alert-tips{
    background-color: #e5e5e5;
    border: 1px solid #faebcc;
}

/*去掉文字阴影*/
.hx-noshadow{
    -webkit-text-shadow: none;
    text-shadow: none;
}

/*加重提示*/
.hx-important{
    /*color: #eb7350!important;*/
    color: #c00!important;
}

/*圆角*/
.hx-radius{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(200, 200, 200, 0.2);
       -moz-box-shadow: 0 0 2px rgba(200, 200, 200, 0.2);
            box-shadow: 0 0 2px rgba(200, 200, 200, 0.2);
}

/*边框阴影*/
.hx-box-shadow{
    -webkit-box-shadow: 0 0 7px 0 rgba(200, 200, 200, .3);
       -moz-box-shadow: 0 0 7px 0 rgba(200, 200, 200, .3);
            box-shadow: 0 0 7px 0 rgba(200, 200, 200, .3);
}
.hx-strong-shadow{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

/*单行*/
.hx-info-line{
    line-height: 21px;
    margin-bottom: 3px;
}

/*正文字体*/
.hx-content-word{
    font-size: 14px;
    line-height: 23px;
}
.hx-article-content.hx-content-word{
    font-size: 14px;
    line-height: 25px;
}
.hx-content-word h1,
.hx-content-word h2,
.hx-content-word h3,
.hx-content-word h4,
.hx-content-word h5,
.hx-content-word h6,
.hx-content-word p,
.hx-content-word pre{
    margin: 0 0 15px;
}
.hx-content-word ul{
    margin: 0 0 15px 25px;
    list-style: inherit;
}
.hx-content-word ol{
    margin: 0 0 15px 25px;
    list-style-type: decimal;
}
.hx-content-word li{
    margin: 0 0 8px;
}
.hx-content-word code{
    background: #fbfbfb;
    border-left: 2px solid #ddd;
    padding: 2px 4px;
    white-space: pre;
}
.hx-content-word pre{
    border: none;
    border-left: 2px solid #ddd;
}
.hx-content-word pre code{
    background: none;
    border: none;
    padding: 0;
    color: #666;
}
.hx-content-word blockquote{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #f9f9f9;
    padding: 1em;
    border-width: 2px;
}
.hx-content-word img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    _width:100%;
}
.hx-content-word em{
  font-style: italic;
  color: inherit;
}

/*将 a 标签的样式置为普通样式*/
.hx-normal-link{
    color: #999;
}
.hx-normal-link a{
    color: #999;
}
.hx-normal-link a:hover{
    color: #333;
}

/*动画渐变效果*/
.hx-animation{
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.hx-animation-fade-in{
    -webkit-animation: scale_in .15s 0 ease-out both;
        -ms-animation: scale_in .15s 0 ease-out both;
         -o-animation: scale_in .15s 0 ease-out both;
       -moz-animation: scale_in .15s 0 ease-out both;
}
.hx-animation-fade-out{
    -webkit-animation: scale_out .15s 0 ease-out both;
        -ms-animation: scale_out .15s 0 ease-out both;
         -o-animation: scale_out .15s 0 ease-out both;
       -moz-animation: scale_out .15s 0 ease-out both;
}
@-webkit-keyframes scale_in {
    0% {-webkit-transform: scale(0.7); opacity: 0}
    100% {-webkit-transform: scale(1.0); opacity: 1}
}
@-webkit-keyframes scale_out {
    0% {-webkit-transform: scale(1.0); opacity: 1}
    100% {-webkit-transform: scale(0.7); opacity: 0}
}
@-ms-keyframes scale_in {
    0% {-ms-transform: scale(0.7); opacity: 0}
    100% {-ms-transform: scale(1.0); opacity: 1}
}
@-ms-keyframes scale_out {
    0% {-ms-transform: scale(1.0); opacity: 1}
    100% {-ms-transform: scale(0.7); opacity: 0}
}
@-moz-keyframes scale_in {
    0% {-moz-transform: scale(0.7); opacity: 0}
    100% {-moz-transform: scale(1.0); opacity: 1}
}
@-moz-keyframes scale_out {
    0% {-moz-transform: scale(1.0); opacity: 1}
    100% {-moz-transform: scale(0.7); opacity: 0}
}
@-o-keyframes scale_in {
    0% {-o-transform: scale(0.7); opacity: 0}
    100% {-o-transform: scale(1.0); opacity: 1}
}
@-o-keyframes scale_out {
    0% {-o-transform: scale(1.0); opacity: 1}
    100% {-o-transform: scale(0.7); opacity: 0}
}


/*主体容器*/
.hx-container{
    min-height: 100%;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}
.hx-note{
    display: none;
    line-height: 20px;
    text-align: center;
    background-color: #fcf8e3;
    border-bottom: 1px solid #faebcc;
}
.hx-note-container{
    padding: 5px 0;
}
.hx-note-container a{
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
}
.hx-note-container a:hover{
    background-color: #3584c8;
    color: #fff;
}

/*空白*/
.hx-none-tips{
    padding: 20px;
    background: #fff;
}

/*导航栏*/
.hx-nav-placeholder{
    display: none;
    height: 42px;
}
.hx-nav{
    height: 42px;
    z-index: 200;
    background: url(/images/site/nav-border.png) #fff left bottom repeat-x;
}
.hx-nav-container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.hx-nav-container h1{
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    background: url(/images/site/logo.png) no-repeat;
    _background: url(/images/site/logoie.png) no-repeat;
    width: 96px;
    height: 37px;
}
.hx-nav-container h1 a{
    height: 100%;
    display: block;
    text-indent: -9999px;
}
.hx-nav-list{
    margin-left: 130px;
    padding: 0;
}
.hx-nav-list li{
    float: left;
    height: 42px;
}
.hx-nav-list li a{
    padding: 0 15px;
    text-align: center;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    line-height: 42px;
    color: #222;
    text-decoration: none;
    border-right: 1px solid #eee;
}
.hx-nav-list li a:hover{
    text-decoration: none;
    color: #c30;
}
.hx-nav-list li.hx-nav-active a{
    background: #fbfbfb;
    color: #3584c8;
}
.hx-nav-list li.hx-nav-active a:hover{
    color: #222;
}
.hx-nav-sign{
    position: absolute;
    right: 0;
    /*top: 5px;*/
    top: 0;
}
.hx-nav-sign li{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 15px;
    position: relative;
}
.hx-nav-sign li a,
.hx-common-menu li a{
    padding: 0;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    color: #222;
    text-decoration: none;
}
.hx-nav-sign li a:hover,
.hx-common-menu li a:hover{
    color: #c30;
}
.hx-nav-sign-sub-menu.hover{
    display: block;
}
.hx-nav-sign-sub-menu{
    display: none;
    position: absolute;
    right: -2px;
    width: 200px;
    top: 46px;
    background: #fff;
    border: 1px solid #e5e5e5;
    z-index: 999;
}
.hx-common-menu{
    background: #fff;
    border: 1px solid #e5e5e5;
    line-height: 32px;
    margin-bottom: 20px;
}
.hx-common-menu li{
    margin: 0;
    float: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    height: 32px;
    line-height: 32px;
}
.hx-common-menu.loose{
    line-height: 40px;
}
.hx-common-menu.loose li{
    height: 40px;
    line-height: 40px;
}
.hx-common-menu li.last{
    border: none;
}
.hx-common-menu li a.hx-nav-item,
.hx-common-menu li a.hx-common-item{
    display: block;
}
.hx-common-menu li a.hx-common-item{
    color: #3584c8;
}
.hx-common-menu li a.hx-nav-item:hover,
.hx-common-menu li a.hx-nav-item.hover,
.hx-common-menu li a.hx-common-item:hover,
.hx-common-menu li a.hx-common-item.hover{
    background: #f8f8f8;
    color: #c30;
}

.hx-nav-item{
    display: block;
    padding: 5px 10px;
    overflow: hidden;
    _display: inline-block;
}
.hx-nav-sign-menu{
    border: 1px solid #d3d3d3;
}


/*吸顶的导航栏*/
.hx-container.nav-fixed{
    _padding-top: 42px;
}
.hx-container.nav-fixed .hx-nav-placeholder{
    display: block;
    _display: none;
}
.hx-container.nav-fixed .hx-nav{
    position: fixed;
    _position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.hx-container.nav-fixed .hx-nav.hx-nav-alpha{
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3),0 0 6px 2px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.9);
}
.hx-container.nav-fixed .hx-nav.hx-nav-alpha li.hx-nav-active a{
    background: none;
}
.hx-container.nav-fixed .hx-nav.hx-nav-alpha-ie{
    opacity: 0.9;
    filter:alpha(opacity=90);
}

/*底部*/
.hx-footer{
    background: url(/images/site/bg-line.gif) #fff left top repeat-x;
    color: #9b9b9b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 126px;
    overflow: hidden;
}
.hx-footer a{
    color: #9b9b9b;
}
.hx-footer a:hover{
    color: #333;
}
.hx-footer-m{
    width: 980px;
    margin: 0 auto;
    height: 100px;
}
.hx-footer-border{
    height: 2px;
    overflow: hidden;
    background: url(/images/site/nav-border.png) left top repeat-x;
}
.hx-footer-source{
    text-align: center;
}
.hx-footer-notice{
    float: left;
    width: 247px;
    height: 46px;
    margin: 29px 0 0 22px;
    _margin-left: 11px;
    padding-left: 53px;
    line-height: 22px;
    background: url(/images/site/notice.png) left top no-repeat;
}
.hx-footer-head{
    color: #666;
}
.hx-footer-copy{
    float: left;
    width: 560px;
    padding-top: 29px;
    line-height: 22px;
}
.hx-footer-copy p{
    margin-right: 10px;
}
.hx-footer-fback{
    text-align: right;
    float: left;
    display: inline-block;
    padding-top: 29px;
    line-height: 22px;
}
.hx-footer-fback a{
    display: block;
}

/*右侧块*/
.hx-block-tips{
    margin-bottom: 19px;
    background: #fff;
    border: 1px solid #e5e5e5;
}
.hx-block-tips-header{
    position: relative;
    height: 30px;
    padding: 5px 20px 0 20px;
    color: #333;
    background: url(/images/site/bg-line.gif) #fff left bottom repeat-x;
}
.hx-block-tips-header h3{
    float: left;
    height: 30px;
    line-height: 25px;
    background: url(/images/site/bg-lined1.gif) left bottom repeat-x;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hx-block-tips-header h3.max-width{
    max-width: 220px;
    _width: 210px;
}
.hx-block-tips-header-alone{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    background: url(/images/site/bg-line.gif) transparent left bottom repeat-x;
}
.hx-block-tips-header a.extright{
    position: absolute;
    top: 10px;
    right: 20px;
}
.hx-block-tips-source {
    background: #fbfbfb;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.hx-block-tips-source a{
    color: #9b9b9b;
}
.hx-block-tips-source a:hover{
    text-decoration: none;
    color: #333;
}
.hx-block-tips-body{
    margin: 5px 20px 15px;
}
.hx-block-tips-body li{
    padding: 0;
    border-bottom: 1px dotted #d9d9d9;
    height: 28px;
    line-height: 28px;
}
li.checked{
    -webkit-text-shadow: none;
    text-shadow: none;
    background: #fbfbfb;
}
.hx-block-tips-body.hx-tips-body-no-padding{
    margin-left: 0;
    margin-right: 0;
}
.hx-block-tips-body.hx-tips-body-no-padding li{
    padding-left: 20px;
    padding-right: 20px;
}
.hx-block-tips-body li.checked a{
    color: #333;
}
.hx-block-tips-body li.clearfix a{
    float: left;
    display: block;
    max-width: 170px;
    _width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hx-block-tips li.hx-block-tips-action a{
    display: inline-block;
    margin-right: 10px;
}
.hx-block-normal-list{
    padding: 0;
    margin: 0 0 0 25px;
}
.hx-block-normal-list li{
    border: none;
    list-style: disc;
}
.hx-block-tips-body p{
    margin: 0 0 5px;
}
.hx-block-tips-body li.clearfix span{
    float: right;
}

/*左侧块*/
.hx-content{
    width: 1000px;
    margin: 20px auto 0;
    position: relative;
    padding-bottom: 140px;
}
.hx-content-wrap{
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 0 20px;
    position: relative;
}
.hx-content-inner-wrap{
    width: 100%;
    background: #fff;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px dashed #e5e5e5;
    position: relative;
}
.hx-content-inner-wrap.last{
    margin: 0;
    border: none;
}
.hx-content-tips{
    padding: 15px;
}

.hx-content-tab{
    border-top: 1px solid #e5e5e5;
    color: #717171;
    background-color: #f7f7f7;
}
.hx-content-tab.hx-content-tab-alone{
    border-top: 0;
    background: #fff;
}
.hx-content-tab-1 .hx-content-tab-item{
    width: 100%;
}
.hx-content-tab-2 .hx-content-tab-item{
    width: 50%;
}
.hx-content-tab-3 .hx-content-tab-item{
    width: 33.3%;
}
.hx-content-tab-3 .hx-content-tab-item.hx-content-tab-item-last{
    width: 34%;
}
.hx-content-tab-5 .hx-content-tab-item{
    width: 20%;
}
.hx-content-tab-item{
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 25%;
    text-align: center;
}
.hx-content-tab-item a{
    margin-left: 2px;
    display: block;
}
.hx-content-tab.gray .hx-content-tab-item a{
    color: #717171;
}
.hx-content-tab-item a:hover{
    background-color: #fbfbfb;
}
.hx-content-tab-item-border{
    background: url(/images/site/table.png) no-repeat;
    background-position: 0 -102px;
}

/*tab*/
.hx-tab-header{
    position: relative;
    height: 30px;
    padding: 5px 20px 0 20px;
    color: #333;
    background: url(/images/site/bg-line.gif) #fbfbfb left bottom repeat-x;
}
.hx-tab-header-alone{
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    margin-bottom: 20px;
}
.hx-tab-header-item{
    float: left;
    display: block;
    height: 30px;
    line-height: 25px;
    padding: 0 5px;
    margin-right: 15px;
    color: #9b9b9b;
}
a.hx-tab-header-item:hover, .hx-tab-header-item.checked{
    color: #000;
    background: url(/images/site/bg-lined1.gif) left bottom repeat-x;
}

/*表单元素*/
input.text, textarea{
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 3px 8px;
    background: #fff;
    border: 1px solid #e5e5e5;
    outline: none;
    z-index: 2;
    vertical-align: middle;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input.text{
    height: 24px;
}
textarea{
    line-height: inherit;
    overflow-y: auto;
    resize:none;
}
input.text:focus, textarea.focus, textarea:focus, div.focus{
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    outline: 0;
    border-color: #51a7e8;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}
input.text.error, textarea.error{
    color: #b94a48;
    border: 1px solid red;
    background: #eed3d7;
}
button{
    color: #000;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-color: #e5e5e5;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:hover{
    background-color: #dddddd;
}
button.submit{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
button.submit:hover{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

