
.hx-table-part{
    margin-top: 20px;
}

.hx-tr{
    width: 960px;
    height: 30px;
    overflow: hidden;
}
.hx-th{
    width: 960px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}
.hx-tr-special{
    border-bottom: 1px solid #1f86ce;
}
.hx-tr-last{
    height: 30px;
}
.hx-tr-even{
    background: #f7f7f7;
}
.hx-cell-one, .hx-cell{
    float: left;
    height: 30px;
    border: 1px solid #d3d3d3;
    text-align: center;
    margin-right: -1px;
}
.hx-cell-one{
    float: none;
    margin-right: 0;
    border-top: none;
}
.hx-cell-wrap{
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
}

.hx-cell-drag{
    width: 50px;
}
.hx-cell-title{
    width: 454px;
}
.hx-tr .hx-cell-title, .hx-tr-last .hx-cell-title{
    text-align: left;
}
.hx-cell-title .hx-cell-wrap{
    padding-left: 15px;
}
.hx-tr.hx-tr-special .hx-cell-title .hx-cell-wrap{
    padding-left: 5px;
}

.hx-cell-count{
    width: 100px;
}
.hx-cell-action{
    width: 250px;
}
.hx-cell-date{
    width: 100px;
}
.hx-cell-action a{
    display: inline-block;
    margin-right: 5px;
}