<%
    locals.navType = 'contents';
    locals.keywords = ['书籍', '列表'];

    var util = _require('util/util');
    var uri = _require('frame/uri');
    var string = _require('util/string');
    var file = _require('util/file');
    var sType = locals.type;
    var fUrl = function (oItem) {
        return uri.common(sType === 'note' ? 'note' : 'book', oItem);
    };

    var sListType = locals.listType;
    var oData = locals.data;
    var aItems = locals.items;
    var aCovers = locals.covers;
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">

    <div class="hx-content-left">

        <div class="hx-tab-header hx-tab-header-alone">
            <a href="<%= string.removeParam(locals.baseUrl, 'tag') %>" class="hx-tab-header-item <%= sListType === 'recommend' ? 'checked' : '' %>">推荐</a>
            <a href="<%= string.addParam(locals.baseUrl, {tag: 'new'}) %>" class="hx-tab-header-item <%= sListType === 'new' ? 'checked' : '' %>">最新</a>
        </div>

        <% if (aItems.length > 0) { %>
            <ul class="hx-collection clearfix hx-books-collection">
                <% aItems.forEach(function (oItem, nIndex) { %>
                    <li>
                        <div class="hx-collection-block">
                            <a href="<%= fUrl(oItem) %>" title="<%= oItem.title %>" class="hx-collection-block-cover">
                                <img src="<%= aCovers[nIndex] ? file.image(aCovers[nIndex], 140, 175) : staticUrl('/images/site/defaultcover.jpg') %>">
                            </a>
                            <div class="clearfix">
                                <span class="right"><%= oItem.itemCount %> <%= sType === 'collect' ? '本' : '篇' %></span>
                                <a href="<%= fUrl(oItem) %>" title="<%= oItem.title %>" class="left"><%= string.left(oItem.title, 8) %></a>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>

            <%- partial('/partial/pager', {
                    curPage: oData.curPage,
                    totalPage: oData.totalPage,
                    pageName: 'page',
                    baseUrl: locals.baseUrl
                })
            %>
        <% } else { %>
            <%- partial('/partial/none', {
                hasBorder: true
            }) %>
        <% } %>

    </div>

    <div class="hx-content-right">
        <%- partial('/partial/contentRightNav', {
            type: sType
        }) %>

        <%- partial('/partial/joke', {
            data: locals.joke
        }) %>
    </div>

</div>

<%- include ../_footer.html %>
