<%
    locals.navType = 'index';
    locals.js = ['site/index/index.js'];

    var uri = _require('frame/uri');
    var util = _require('util/util');
    var file = _require('util/file');
    var string = _require('util/string');
    var aBooks = locals.books;
    var aBookCovers = locals.bookCovers;

    var aRecommendPost = locals.recommendPosts;
    var aNewPost = locals.newPosts;
    var aOriginalPost = locals.originalPosts;

%>
<%- include ../_header.html %>
<div class="hx-index-banner" id="indexBanner" style="">
    <div class="hx-ibanner-wrap">
        <a class="hx-ibanner-btn hx-ibanner-left" hidefocus="true" href="javascript:void(0);"></a>
        <a class="hx-ibanner-btn hx-ibanner-right" hidefocus="true" href="javascript:void(0);"></a>
        <div class="hx-ibanner-content">
            <a hidefocus="true" class="hx-ibanner-img" href="javascript:void(0);">
                <img src="<%= staticUrl('/images/bg/default-bg.png') %>">
            </a>
        </div>
        <div class="hx-ibanner-note">
            <div class="hx-ibanner-note-bg"></div>
            <div class="hx-ibanner-note-body">
                <div class="hx-ibanner-note-title"></div>
                <div class="hx-ibanner-note-content"></div>
            </div>
            <span class="hx-ibanner-shadow"></span>
            <span class="hx-ibanner-shadowr"></span>
        </div>
    </div>
</div>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <% if (aBooks.length > 0) { %>
        <div class="hx-content-wrap hx-radius">
            <div class="hx-block-tips-header">
                <h3>推荐的书籍</h3>
                <div class="hx-extright right">
                    <a href="<%= uri.common('books') %>">查看全部</a>
                </div>
            </div>
            <div class="hx-icontent-body">
                <ul class="hx-collection hx-index-books-collection clearfix">
                    <% aBooks.forEach(function (oItem, nIndex) { %>
                    <li>
                        <div class="hx-collection-block">
                            <a href="<%= uri.common('book', oItem) %>" title="<%= oItem.title %>" class="hx-collection-block-cover" target="_blank">
                                <img src="<%= aBookCovers[nIndex] ? file.image(aBookCovers[nIndex], 140, 175) : staticUrl('/images/site/defaultcover.jpg') %>" />
                            </a>
                            <div class="clearfix">
                                <span class="right"><%= oItem.itemCount %> <%= oItem.isEnd ? '篇' : '本' %></span>
                                <a href="<%= uri.common('book', oItem) %>" title="<%= oItem.title %>" class="left" target="_blank"><%= string.left(oItem.title, 12) %></a>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <% } %>

        <div class="hx-content-wrap hx-table-wrap hx-radius">
            <div class="hx-block-tips-header">
                <h3>榜单</h3>
                <div class="hx-extright right">
                    <a href="<%= uri.common('posts') %>">查看全部</a>
                </div>
            </div>
            <div class="hx-icontent-body">

                <table class="hx-list-table">
                    <thead>
                        <tr>
                            <th class="hx-tb-part"><div class="hx-lt-first hx-lt-wp">推荐文章</div></th>
                            <th class="hx-tb-part1"><div class="hx-lt-wp">原创文章</div></th>
                            <th class="hx-tb-part"><div class="hx-lt-wp">最新文章</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < 10; i++) { var oPost; %>
                        <tr class="<%= i % 2 === 0 ? '' : 'hx-lt-even' %>">
                            <% oPost = aRecommendPost[i] %>
                            <% if (oPost) { %>
                            <td>
                                <span class="hx-icontent-bill-item-no <%= i < 3 ? 'no-top' : '' %>"><%= i + 1 %></span>
                                <a title="<%= oPost.title %>" href="<%= uri.common('post', oPost) %>" target="_blank"><%= string.left(oPost.title, 15) %></a>
                            </td>
                            <% } else { %>
                            <td></td>
                            <% } %>

                            <% oPost = aOriginalPost[i] %>
                            <% if (oPost) { %>
                            <td class="hx-lt-wp hx-lt-wpc">
                                <span class="hx-icontent-bill-item-no <%= i < 3 ? 'no-top' : '' %>"><%= i + 1 %></span>
                                <a title="<%= oPost.title %>" href="<%= uri.common('post', oPost) %>" target="_blank"><%= string.left(oPost.title, 15) %></a>
                            </td>
                            <% } else { %>
                            <td class="hx-lt-wp hx-lt-wpc"></td>
                            <% } %>

                            <% oPost = aNewPost[i] %>
                            <% if (oPost) { %>
                            <td class="hx-lt-wp hx-lt-wpc">
                                <span class="hx-icontent-bill-item-no <%= i < 3 ? 'no-top' : '' %>"><%= i + 1 %></span>
                                <a title="<%= oPost.title %>" href="<%= uri.common('post', oPost) %>" target="_blank"><%= string.left(oPost.title, 15) %></a>
                            </td>
                            <% } else { %>
                            <td class="hx-lt-wp hx-lt-wpc"></td>
                            <% } %>
                            
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="hx-content-right">
        <%- partial('/partial/joke', {
            data: locals.joke
        }) %>

        <%- partial('/partial/userList', {
                users: locals.newUsers,
                times: locals.newUserTimes,
                title: '欢迎新用户'
            })
        %>
    </div>
</div>

<script type="text/javascript">
window.aSlide = <%- locals.slide %>;
</script>
<%- include ../_footer.html %>