
<%
    var oNote = locals.note;

    locals.navType = 'contents';
    locals.title = oNote.title;
    locals.keywords = ['专题', oNote.title, oNote.pinyin];
    locals.description = oNote.description || '';

    var util = _require('util/util');
    var file = _require('util/file');
    var uri = _require('frame/uri');
    var string = _require('util/string');

    var aTags = locals.tags || [];

    // 书籍子栏目
    var oData = locals.data;
    var aPost = oData.data;
    var oAuthor = locals.author;
    var oBookMap = locals.bookMap;
    var oAuthorMap = locals.authorMap;
    var nStartIndex = oData.perPageCount * oData.curPage;
%>

<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-content-left">
        <div class="hx-content-wrap hx-radius">
            <div class="hx-collect-info">
                <div class="clearfix hx-collect-info-line">
                    <div class="hx-collect-cover">
                        <img src="<%= locals.cover ? file.image(locals.cover, 160, 200) : staticUrl('/images/site/defaultcover.jpg') %>">
                    </div>
                    <div class="hx-collect-detail">
                        <div class="hx-collect-wrap">
                            <div class="hx-collect-title title-font"><h2>专题：<span><%= oNote.title %></span></h2></div>

                            <div class="hx-info-line">
                                作者：<a href="<%= uri.profile(oAuthor) %>" target="_blank"><%= oAuthor.nickname %></a>
                            </div>

                            <div class="hx-info-line">
                                创建：<%= util.dateDic(oNote.createdAt) %></a>
                            </div>

                            <div class="hx-info-line">
                                浏览：<%= locals.viewCount %></a>
                            </div>

                            <% if (locals.isAuthor || locals.isAdmin) { %>
                            <div class="hx-info-line">
                                操作：
                                <a href="<%= uri.writerNote('index', oNote) %>" target="_blank" class="hx-mr-10">管理专题</a>

                                <%- partial('/partial/recommendLink', {
                                    isAdmin: locals.isAdmin,
                                    isRecommend: locals.isRecommend,
                                    objType: 'note',
                                    obj: oNote
                                }) %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="clearfix hx-collect-info-line">
                    <h2>专题介绍: </h2>
                    <%- partial('/partial/txtDescription', {
                        content: oNote.description
                    }) %>
                </div>
            </div>

            <div class="hx-content-tab hx-content-tab-2 clearfix">
                <div class="hx-content-tab-item">
                    <%- partial('/partial/likeLink', {
                        obj: oNote,
                        type: 'note',
                        isLike: locals.isLike,
                        val: locals.likeCount
                    }) %>
                </div>
                <div class="hx-content-tab-item hx-content-tab-item-border">
                    <%- partial('/partial/collectLink', {
                        obj: oNote,
                        type: 'note',
                        isCollect: locals.isCollect,
                        val: locals.collectCount
                    }) %>
                </div>
            </div>
        </div>

        <div class="hx-content-wrap hx-table-wrap hx-radius">
            <div class="hx-block-tips-header">
                <h3>文章列表</h3>
                <div class="hx-extright right">
                    <span>包含: <span class="hx-important"><%= oData.totalCount %></span> 篇文章</span>
                </div>
            </div>

            <div class="hx-icontent-body">

                <table class="hx-list-table">
                    <thead>
                        <tr>
                            <th class="hx-lt-th1"><div class="hx-lt-first hx-lt-wp">&nbsp;</div></th>
                            <th><div class="hx-lt-wp">标题</div></th>
                            <th class="hx-lt-th2"><div class="hx-lt-wp">字数</div></th>
                            <th class="hx-lt-th3"><div class="hx-lt-wp">作者</div></th>
                            <th class="hx-lt-th4"><div class="hx-lt-wp">书籍</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (!locals.isPublish) { %>
                            <tr><td colspan="5" style="text-align:center;">抱歉，本专题暂不公开。</td></tr>
                        <% } else if (aPost.length > 0) { %>
                            <% aPost.forEach(function (oItem, nIndex) { %>
                            <% var oBook = oBookMap[oItem.parentId] %>
                            <% var oAuthor = oAuthorMap[oItem.userId] %>
                            <tr class="<%= nIndex % 2 === 1 ? 'hx-lt-even' : '' %>">
                                <td class="hx-lt-tdsort"><%= ++nStartIndex %></td>
                                <td>
                                    <a title="<%= oItem.title %>" href="<%= uri.common('post', oItem) %>">
                                        <%= string.left(oItem.title, 25) %>
                                    </a>
                                </td>
                                <td><%= oItem.words %></td>
                                <td>
                                    <% if (oItem.isOriginal) { %>
                                    <a href="<%= uri.profile(oAuthor) %>" title="<%= oAuthor.nickname %>"><%= string.left(oAuthor.nickname, 6) %></a>
                                    <% } else { %>
                                    <span title="<%= oItem.author %>"><%= string.left(oItem.author, 6) %></span>
                                    <% } %>
                                </td>
                                <td>
                                    <a title="<%= oBook.title %>" href="<%= uri.common('book', oBook) %>">
                                    <%= string.left(oBook.title, 10) %>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                        <% } else { %>
                            <tr><td colspan="5">
                                <%- partial('/partial/none') %>
                            </td></tr>
                        <% } %>
                    </tbody>
                </table>

                <%- partial('/partial/pager', {
                        curPage: oData.curPage,
                        totalPage: oData.totalPage,
                        pageName: 'page',
                        baseUrl: locals.baseUrl
                    })
                %>
            </div>
        </div>

        <div class="hx-content-wrap hx-radius">
            <div class="hx-block-tips-header">
                <h3>评论</h3>
            </div>
            <div class="hx-icontent-body" style="margin-top:0;">
                <div class="ds-thread" data-thread-key="note_<%= oNote.id %>" data-title="<%= oNote.title %>"></div>
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"360duzhe"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
                </script>
            </div>
        </div>

    </div>

    <div class="hx-content-right">
        <%- partial('/partial/userList', {
                users: locals.liketor.user,
                times: locals.liketor.time,
                title: '喜欢这个专题的用户'
            })
        %>
        
        <%- partial('/partial/joke', {
            data: locals.joke
        }) %>
    </div>
</div>

<%- include ../_footer.html %>
