
<%
    locals.navType = 'profile';
    locals.js = ['site/profile/books'];

    var util= _require('util/util');
    var uri = _require('frame/uri');
    var string = _require('util/string');

    var aBooks = books;
    var aCollects = collects;
%>
<%- include ../_header.html %>

<div class="hx-content clearfix">
    <div class="hx-block-tips-header hx-block-tips-header-alone">
        <h3>
            <a href="<%= uri.profile(session.user) %>">个人中心</a> . 管理合集
        </h3>
        <div class="hx-extright right">
            <a href="<%= uri.writerBook('newCollect') %>">新建合集</a>
            <a href="<%= uri.writerBook('new') %>">新建书籍</a>
        </div>
    </div>

    <div class="hx-mb-20">
        <% aCollects.forEach(function (oItem) { %>
            <div data-count="<%= oItem.books.length %>" class="hx-table-part hx-radius" id="collect<%= oItem.collect.id %>">
                <div class="hx-tr hx-tr-special clearfix">
                    <div class="hx-cell hx-cell-drag">
                        <div class="hx-cell-wrap txt-center"></div>
                    </div>
                    <div class="hx-cell hx-cell-title">
                        <div class="hx-cell-wrap">合集：<a href="<%= uri.writerBook('index', oItem.collect) %>"><%= string.left(oItem.collect.title, 32) %></a></div>
                    </div>
                    <div class="hx-cell hx-cell-count">
                        <div class="hx-cell-wrap"><%= oItem.collect.itemCount %></div>
                    </div>
                    <div class="hx-cell hx-cell-action">
                        <div class="hx-cell-wrap">
                            <a href="<%= uri.writerBook('edit', oItem.collect) %>">编辑</a> | 
                            <a href="<%= uri.writerBook('new', oItem.collect) %>">新建书籍</a> | 
                            <a class="js-del" data-type="book" data-id="<%= oItem.collect.id %>" href="javascript:void(0);">删除</a>
                        </div>
                    </div>
                    <div class="hx-cell hx-cell-date">
                        <div class="hx-cell-wrap"><%= util.date(oItem.collect.createdAt, 'yyyy-MM-dd') %></div>
                    </div>
                </div>

                <% if (oItem.books.length === 0) { %>
                    <div data-blank="1" data-parentId="<%= oItem.collect.id %>" class="hx-tr hx-tr-one hx-tr-drag hx-tr-last clearfix">
                        <div class="hx-cell">
                            <div class="hx-cell-wrap">
                                暂无数据，<a href="<%= uri.writerBook('new', oItem.collect) %>">新建书籍</a>
                            </div>
                        </div>
                    </div>
                <% } else { %>

                    <% oItem.books.forEach(function (oSubItem, nIndex) { var nCount = oItem.books.length; %>
                        <div data-id="<%= oSubItem.id %>" data-parentId="<%= oSubItem.parentId %>" class="hx-tr-drag <%= nIndex + 1 === nCount ? 'hx-tr hx-tr-last' : 'hx-tr' %> <%= nIndex % 2 === 0 ? 'hx-tr-even' : '' %> clearfix">
                            <div class="hx-cell hx-cell-drag">
                                <div class="hx-cell-wrap txt-center">
                                    <b class="hx-icon-drag"></b>
                                </div>
                            </div>
                            <div class="hx-cell hx-cell-title">
                                <div class="hx-cell-wrap">
                                    <a href="<%= uri.writerBook('index', oSubItem) %>"><%= string.left(oSubItem.title, 32) %></a>
                                </div>
                            </div>
                            <div class="hx-cell hx-cell-count">
                                <div class="hx-cell-wrap"><%= oSubItem.itemCount %></div>
                            </div>
                            <div class="hx-cell hx-cell-action">
                                <div class="hx-cell-wrap">
                                    <a href="<%= uri.writerBook('edit', oSubItem) %>">编辑</a> | 
                                    <a href="<%= uri.writerPost('new', oSubItem) %>">新建文章</a> | 
                                    <a class="js-del" data-type="book" data-id="<%= oSubItem.id %>" href="javascript:void(0);">删除</a>
                                </div>
                            </div>
                            <div class="hx-cell hx-cell-date">
                                <div class="hx-cell-wrap"><%= util.date(oSubItem.createdAt, 'yyyy-MM-dd') %></div>
                            </div>
                        </div>
                    <% }) %>

                <% } %>
            </div>
        <% }) %>

        <div  data-count="<%= aBooks.length %>"class="hx-table-part" id="collect-1">
            <div class="hx-tr hx-tr-special clearfix">
                <div class="hx-cell hx-cell-drag">
                    <div class="hx-cell-wrap txt-center"></div>
                </div>
                <div class="hx-cell hx-cell-title">
                    <div class="hx-cell-wrap">书籍</div>
                </div>
                <div class="hx-cell hx-cell-count">
                    <div class="hx-cell-wrap"><%= aBooks.length %></div>
                </div>
                <div class="hx-cell hx-cell-action">
                    <div class="hx-cell-wrap">
                        <a href="<%= uri.writerBook('new') %>">新建书籍</a>
                    </div>
                </div>
                <div class="hx-cell hx-cell-date">
                    <div class="hx-cell-wrap"></div>
                </div>
            </div>
            <% if (aBooks.length === 0) { %>
                <div data-blank="1" data-parentId="-1" class="hx-tr hx-tr-one hx-tr-drag hx-tr-last clearfix">
                    <div class="hx-cell">
                        <div class="hx-cell-wrap">
                            暂无数据
                        </div>
                    </div>
                </div>
            <% } else { var nCount = aBooks.length; %>
                <% aBooks.forEach(function (oItem, nIndex) { %>
                    <div data-id="<%= oItem.id %>" data-parentId="<%= oItem.parentId == null ? -1 : oItem.parentId %>" class="hx-tr-drag <%= nIndex + 1 === nCount ? 'hx-tr hx-tr-last' : 'hx-tr' %> <%= nIndex % 2 === 0 ? 'hx-tr-even' : '' %> clearfix">
                        <div class="hx-cell hx-cell-drag">
                            <div class="hx-cell-wrap txt-center"><b class="hx-icon-drag"></b></div>
                        </div>
                        <div class="hx-cell hx-cell-title">
                            <div class="hx-cell-wrap">
                                <a href="<%= uri.writerBook('index', oItem) %>"><%= string.left(oItem.title, 32) %></a>
                            </div>
                        </div>
                        <div class="hx-cell hx-cell-count">
                            <div class="hx-cell-wrap"><%= oItem.itemCount %></div>
                        </div>
                        <div class="hx-cell hx-cell-action">
                            <div class="hx-cell-wrap">
                                <a href="<%= uri.writerBook('edit', oItem) %>">编辑</a> | 
                                <a href="<%= uri.writerPost('new', oItem) %>">新建文章</a> | 
                                <a class="js-del" data-type="book" data-id="<%= oItem.id %>" href="javascript:void(0);">删除</a>
                            </div>
                        </div>
                        <div class="hx-cell hx-cell-date">
                            <div class="hx-cell-wrap"><%= util.date(oItem.createdAt, 'yyyy-MM-dd') %></div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>

</div>

<%- include ../_footer.html %>