
<%
    locals.navType = 'profile';
    locals.js = ['site/writer/bookform', 'site/common/formphoto'];

    var uri = _require('frame/uri');
    var string = _require('util/string');

    var oCollect = locals.collect;
    var oBook = locals.book;
    var oCover = locals.cover;
    var bIsEdit = locals.isEdit;
    var bIsCollect = locals.isCollect;
    var sTypeName = locals.typeName;
%>

<%- include ../_header.html %>
<div class="hx-content clearfix">
    <div class="hx-block-tips-header hx-block-tips-header-alone">
        <h3>
            <a href="<%= uri.profile(session.user) %>">个人中心</a> .
            <a href="<%= uri.writerBook('index') %>">管理合集</a> .
            <% if (oCollect) { %>
            <a href="<%= uri.writerBook('index', oCollect) %>">合集《<%= string.left(oCollect.title, 32) %>》</a> .
            <% } %>

            <% if (bIsEdit) { %>
            <a href="<%= uri.writerBook('index', oBook) %>"><%= sTypeName %>《<%= string.left(oBook.title, 32) %>》</a> . 编辑
            <% } else { %>
            新建<%= sTypeName %>
            <% } %>
        </h3>
    </div>

    <form method="post" action="">
        <div class="hx-form-line group">
            <label class="label">标题</label>
            <input class="text" name="title" type="text" value="<%= oBook.title || '' %>" />
        </div>

        <div class="hx-form-line group">
            <label class="hx-form-label" title="360duzhe 鼓励原创，也欢迎有原则地转载">
                <% if (oBook.isOriginal) { %>
                <input type="checkbox" name="isOriginal" class="chk-original" checked />原创
                <% } else { %>
                <input type="checkbox" name="isOriginal" class="chk-original" />原创
                <% } %>
            </label>
            <label title="非公开的书籍及所属内容无法被他人访问">
                <% if (!bIsEdit || oBook.isPublish) { %>
                    <input type="checkbox" name="isPublish" checked />公开
                <% } else { %>
                    <input type="checkbox" name="isPublish" />公开
                <% } %>
            </label>
            <% if (bIsCollect) { %>
                <input type="hidden" name="isCollect" value="on" />
            <% } %>
        </div>

        <!-- 非原创的内容，需要注明这些信息 -->
        <div id="originalPart" <% if (oBook.isOriginal) { %> style="display:none" <% } %>>
            <div class="hx-content-wrap hx-radius">
                <div class="hx-content-tips">
                    您现在所新建的<%= sTypeName %><span class="hx-important">非在本站原创</span>，建议您提供以下信息，浏览该<%= sTypeName %>时会附上相关信息，避免造成可能的误会或纠纷。
                </div>
            </div>

            <div class="hx-form-line group">
                <label class="label">作者</label>
                <input class="text" name="author" type="text" value="<%= oBook.author || '' %>" />
            </div>
            <div class="hx-form-line group">
                <label class="label">来源</label>
                <input class="text" name="source" type="text" value="<%= oBook.source || '' %>" />
            </div>
            <div class="hx-form-line group">
                <label class="label">链接</label>
                <input class="text" name="url" type="text" value="<%= oBook.url || '' %>" />
            </div>
        </div>

        <div class="hx-content-wrap hx-radius">
            <div class="hx-icontent-body">
            <%- partial('/partial/formPhoto', {
                    items: oCover,
                    name: 'cover',
                    photoLimit: 1
                })
            %>
            </div>
        </div>

        <div class="hx-form-line group">
            <label class="label">描述</label>
            <textarea class="text" rows="6" name="description"><%= oBook.description || '' %></textarea>
        </div>

        <div class="hx-form-line">
            <button type="submit" class="submit">保存</button>&nbsp;&nbsp;
            <% if (bIsEdit) { %>
            <button type="reset">重置</button>&nbsp;&nbsp;
            <% } else { %>
            <button type="submit" name="retain" value="1" class="submit">保存并继续添加</button>
            <% } %>
        </div>

    </form>

</div>

<%- include ../_footer.html %>