
<%
    locals.navType = 'profile';
    locals.js = ['site/writer/bookform', 'site/common/formphoto'];

    var uri = _require('frame/uri');
    var string = _require('util/string');

    var oNote = locals.note;
    var oCover = locals.cover;
    var bIsEdit = locals.isEdit;
%>

<%- include ../_header.html %>
<div class="hx-content clearfix">
    <div class="hx-block-tips-header hx-block-tips-header-alone">
        <h3>
            <a href="<%= uri.profile(session.user) %>">个人中心</a> .
            <a href="<%= uri.writerBook('index') %>">管理合集</a> .
            <% if (bIsEdit) { %>
            <a href="<%= uri.writerNote('index', note) %>">专题《<%= string.left(oNote.title, 32) %>》</a> . 编辑
            <% } else { %>
            新建专题
            <% } %>
        </h3>
    </div>

    <form method="post" action="">
        <div class="hx-form-line group">
            <label class="label">标题</label>
            <input class="text" name="title" type="text" value="<%= oNote.title || '' %>" />
        </div>

        <div class="hx-form-line group">
            <label title="非公开的专题无法被他人访问">
                <% if (!bIsEdit || oNote.isPublish) { %>
                    <input type="checkbox" name="isPublish" checked />公开
                <% } else { %>
                    <input type="checkbox" name="isPublish" />公开
                <% } %>
            </label>
        </div>

        <div class="hx-content-wrap hx-radius">
            <div class="hx-icontent-body">
            <%- partial('/partial/formPhoto', {
                    items: oCover,
                    name: 'cover',
                    photoLimit: 1
                })
            %>
            </div>
        </div>

        <div class="hx-form-line group">
            <label class="label">描述</label>
            <textarea class="text" rows="6" name="description"><%= oNote.description || '' %></textarea>
        </div>

        <div class="hx-form-line">
            <button type="submit" class="submit">保存</button>&nbsp;&nbsp;
            <% if (bIsEdit) { %>
            <button type="reset">重置</button>&nbsp;&nbsp;
            <% } else { %>
            <button type="submit" name="retain" value="1" class="submit">保存并继续添加</button>
            <% } %>
        </div>

    </form>

</div>

<%- include ../_footer.html %>