
<%
    locals.navType = 'profile';
    locals.js = ['site/writer/postform', 'site/common/formphoto'];

    var uri = _require('frame/uri');
    var string = _require('util/string');

    var oCollect = locals.collect;
    var oBook = locals.book;
    var oPost = locals.post;
    var oCotent = locals.content;
    var bIsEdit = locals.isEdit;
%>

<%- include ../_header.html %>
<div class="hx-content clearfix">
    <div class="hx-block-tips-header hx-block-tips-header-alone">
        <h3>
            <a href="<%= uri.profile(session.user) %>">个人中心</a> .
            <a href="<%= uri.writerBook('index') %>">管理合集</a> .
            <% if (oCollect) { %>
            <a href="<%= uri.writerBook('index', oCollect) %>">合集《<%= string.left(oCollect.title, 32) %>》</a> .
            <% } %>

            <% if (oBook) { %>
            <a href="<%= uri.writerBook('index', oBook) %>">书籍《<%= string.left(oBook.title, 32) %>》</a> .
            <% } %>

            <% if (bIsEdit) { %>
            文章《<%= string.left(oPost.title, 32) %>》 . 编辑
            <% } else { %>
            新建文章
            <% } %>
        </h3>
    </div>

    <form method="post" action="">
        <div class="hx-form-line group">
            <label class="label">标题</label>
            <input class="text" name="title" type="text" value="<%= oPost.title || '' %>" />
        </div>

        <div class="hx-form-line group">
            <label class="hx-form-label" title="360duzhe 鼓励原创，也欢迎有原则地转载">
                <% if (oPost.isOriginal) { %>
                <input type="checkbox" name="isOriginal" class="chk-original" checked />原创
                <% } else { %>
                <input type="checkbox" name="isOriginal" class="chk-original" />原创
                <% } %>
            </label>
            <label title="非公开的文章及所属内容无法被他人访问">
                <% if (!bIsEdit || oPost.isPublish) { %>
                    <input type="checkbox" name="isPublish" checked />公开
                <% } else { %>
                    <input type="checkbox" name="isPublish" />公开
                <% } %>
            </label>
        </div>

        <!-- 非原创的内容，需要注明这些信息 -->
        <div id="originalPart" <% if (oPost.isOriginal) { %> style="display:none" <% } %>>
            <div class="hx-content-wrap hx-radius">
                <div class="hx-content-tips">
                    您现在所新建的文章<span class="hx-important">非在本站原创</span>，建议您提供以下信息，浏览该文章时会附上相关信息，避免造成可能的误会或纠纷。
                </div>
            </div>

            <div class="hx-form-line group">
                <label class="label">作者</label>
                <input class="text" name="author" type="text" value="<%= oPost.author || '' %>" />
            </div>
            <div class="hx-form-line group">
                <label class="label">来源</label>
                <input class="text" name="source" type="text" value="<%= oPost.source || '' %>" />
            </div>
            <div class="hx-form-line group">
                <label class="label">链接</label>
                <input class="text" name="url" type="text" value="<%= oPost.url || '' %>" />
            </div>
        </div>

        <div class="hx-form-line">
            <textarea rows="20" name="content" id="postContent"><%- oCotent.content || '' %></textarea>
        </div>

        <div class="hx-form-line">
            <button type="submit" class="submit">保存</button>&nbsp;&nbsp;
            <% if (bIsEdit) { %>
            <button type="reset">重置</button>&nbsp;&nbsp;
            <% } else { %>
            <button type="submit" name="retain" value="1" class="submit">保存并继续添加</button>
            <% } %>
        </div>

    </form>

</div>

<%- include ../_footer.html %>