
<%
    var util = _require('util/util');
    var file = _require('util/file');
    var aImage = locals.items;
    var aImage = util.isArray(aImage) ? aImage : aImage ? [aImage] : [];
    var sPhotoId = aImage.map(function (oItem) {return oItem.id || ''}).join(',');
%>

<div class="hx-form-line hx-form-photo-line">
    <div class="well select-cover">
        <a href="javascript:void(0);" class="hx-form-select-cover" data-limit="<%= locals.photoLimit || '' %>">添加封面(仅限一张，多张取第一张)</a>
    </div>
    <ul class="clearfix" id="formPhotoContainer" style="margin-top:10px;<%= aImage.length === 0 ? 'display:none;' : '' %>">
        <% aImage.forEach(function (oItem) { %>
            <li class="form-photo-item">
                <a href="javascript:void(0);" class="hx-form-thumbnail">
                    <span class="hx-cpn-swfupload-delete" data-id="<%= oItem.id %>"></span>
                    <img src="<%= file.image(oItem, 140, 175) %>">
                </a>
            </li>
        <% }) %>
    </ul>

    <input type="hidden" id="formPhotoVal" name="<%= locals.name || 'cover' %>" value="<%= sPhotoId %>">
</div>
