<%
    var util = _require('util/util');
    var uri = _require('frame/uri');

    var oUser = locals.user;
    var bIsSelf = locals.isSelf;
    var sNavType = locals.navType;

    var fCheck = function (sType, sTypeNow) {
        return sType === 'data' && {book: 1, collect: 1, note: 1, post: 1}[sTypeNow] ||
            sType === 'info' && {info: 1, password: 1}[sTypeNow] ? 'hover' : ''
    };

%>

<div class="hx-content-right">

    <div class="hx-profile-avatar">
        <% if (bIsSelf) { %>
        <a href="javascript:void(0);" class="hx-profile-avatar-wrap-middle hx-mb-10 js-change-avatar" title="换个头像吧">
            <img src="<%= util.avatar(oUser) %>">
        </a>
        <% } else { %>
        <div class="hx-profile-avatar-wrap hx-mb-10">
            <img src="<%= util.avatar(oUser) %>">
        </div>
        <% } %>

        <div class="hx-info-line hx-profile-detail-title">
            <h2><%= oUser.nickname %></h2>
        </div>

        <% if (oUser.description) { %>
        <div class="hx-info-line hx-normal-link txt-center">
            <%= oUser.description %>
        </div>
        <% } %>

        <% if (false) { %>
        <div class="hx-info-line hx-normal-link txt-center">
            <a href="javascript:void(0);">微博</a> | 
            <a href="javascript:void(0);">微信</a> | 
            <a href="javascript:void(0);">QQ</a> | 
            <a href="javascript:void(0);">人人</a>
        </div>
        <% } %>
    </div>

    <% if (bIsSelf) { %>
    <ul class="hx-common-menu hx-radius">
        <li><a class="hx-animation hx-common-item <%= fCheck('data', sNavType) %>" href="<%= uri.profile(oUser, 'posts') %>">我的创作</a></li>
        <li class="last"><a class="hx-animation hx-common-item <%= fCheck('info', sNavType) %>" href="<%= uri.profile(null, 'info') %>">我的资料</a></li>
    </ul>
    <ul class="hx-common-menu hx-radius">
        <li><a class="hx-animation hx-common-item" href="<%= uri.writerBook('index') %>">管理合集</a></li>
        <li><a class="hx-animation hx-common-item" href="<%= uri.writerNote('index') %>">管理专题</a></li>
    </ul>
    <ul class="hx-common-menu hx-radius">
        <li><a class="hx-animation hx-common-item" href="<%= uri.writerPost('new') %>">新建文章</a></li>
        <li class="last"><a class="hx-animation hx-common-item" href="<%= uri.writerBook('new') %>">新建书籍</a></li>
    </ul>
    <% } else { %>
    <ul class="hx-common-menu hx-radius">
        <li class="last"><a class="hx-animation hx-common-item <%= fCheck('data', sNavType) %>" href="<%= uri.profile(oUser, 'posts') %>">TA的创作</a></li>
    </ul>
    <% } %>

    <ul class="hx-common-menu hx-radius">
        <li>
            <%- partial('/partial/likeLink', {
                obj: oUser,
                type: 'user',
                isLike: locals.isLike,
                val: locals.likeCount,
                extCls: 'hx-nav-item'
            }) %>
        </li>
        <li class="txt-center">
            访问次数：<%= locals.viewCount %>
        </li>
        <li class="txt-center last">
            <%= util.dateDic(oUser.createdAt) %> 加入 360duzhe
        </li>
    </ul>

    <%- partial('/partial/userList', {
            users: locals.visitor.user,
            times: locals.visitor.time,
            title: '最近来访'
        })
    %>

    <%- partial('/partial/userList', {
            users: locals.liketor.user,
            times: locals.liketor.time,
            title: '喜欢' + (bIsSelf ? '我' : ' TA ') + '的用户'
        })
    %>

</div>