<%
    var string = _require('util/string');
    var sContent = locals.content;
    var sDesc = string.left(sContent, 150);
    var bSame = sDesc === sContent;
 %>
<div id="descShowDv">
    <%= sDesc %>
    <% if (!bSame) { %>
        <a href="javascript:void(0);" onclick="(function(){document.getElementById('descShowDv').style.display = 'none'; document.getElementById('descFullDv').style.display = 'block';})()">展开>></a>
    <% } %>
</div>

<% if (!bSame) { %>
<div id="descFullDv" style="display:none;">
    <%= sContent %>
    <a href="javascript:void(0);" onclick="(function(){document.getElementById('descFullDv').style.display = 'none'; document.getElementById('descShowDv').style.display = 'block';})()"><<收起</a>
</div>
<% } %>