<%
    var util = _require('util/util');
    var uri = _require('frame/uri');
    var aUser = locals.users || [];
    var aTimes = locals.times || [];
    var sTitle = locals.title || '';
    var sDesc = locals.desc || '';
%>

<% if (aUser.length > 0) { %>
<div class="hx-block-tips hx-radius clearfix">
    <div class="hx-block-tips-header">
        <h3><%= sTitle %></h3>
    </div>
    <div class="hx-block-tips-body" style="margin-top:10px;margin-bottom:10px;">
        <ul class="hx-collection clearfix hx-users-collection">
        <% aUser.forEach(function (oItem, nIndex) { %>
            <li><a href="<%= uri.profile(oItem) %>" title="<%= oItem.name + (aTimes[nIndex] ? '(' + util.dateDic(aTimes[nIndex]) + ')' : '') %>" class="hx-profile-avatar-wrap-smallst rectangle"><img src="<%= util.avatar(oItem) %>" /></a></li>
        <% }) %>
        </ul>
    </div>
</div>
<% } %>