
<!DOCTYPE html>
<html>
    <head>
        <title>在线markdown编辑器 - 360读者</title>
        <meta name="keywords" content="online markdown editor,markdown编辑器,在线编辑markdown" />
        <meta name="description" content="本页面是一个在线编辑markdown的工具页面" />
        <meta name="COPYRIGHT" content="版权所有2012,http://360duzhe.com/">
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/typo.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/site/webcommon.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/site/web.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/common/component.css" />
    </head>
    <style>
        html{height: auto;background: #fff;overflow-x: hidden;}
        body{height: auto;background: #fff;overflow-x: hidden;}
        .editor-test{padding: 20px;}
        .hx-cpn-editor{}
    </style>
    <body>
        <div class="editor-test"></div>

        <script type="text/javascript" src="/javascripts/lib/sea.js"></script>
        <script type="text/javascript" src="/javascripts/core/seaConfig.js"></script>

        <script type="text/javascript">
        seajs.use('site/static/editor');
        </script>


    </body>
</html>