<!DOCTYPE html>
<%
    var sExtBodyCls = locals.extBodyCls;
    var uri = _require('frame/uri');
    var util = _require('util/util');
    var fActive = function (sType) {
        return locals.navType === (sType || '').trim() ? 'hx-nav-active' : '';
    }
%>
<html>
    <head>
        <title><%= (locals.title ? locals.title + ' - ' : '') + nConf.site.title %></title>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">

        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/typo.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/site/webcommon.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/site/web.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/common/component.css" />
    </head>
    <body class="<%= sExtBodyCls || '' %>">
        <div class="hx-container">
        <div class="hx-nav clearfix">
            <div class="hx-nav-container">
                <h1><a href="/">360duzhe</a></h1>

                <ul class="hx-nav-list">
                    <% nConf.nav.cpanel.forEach(function (oItem) { %>
                    <li class="<%= fActive(oItem.tag) %>">
                        <a href="<%= util.isFunction(oItem.href) ? oItem.href() : oItem.href %>"><%= oItem.title %></a>
                    </li>
                    <% }) %>
                </ul>

                <ul class="hx-nav-sign">
                    <li class="hx-nav-sign-user"><a href="<%= uri.profile(session.user) %>"><%= session.user.nickname %></a></li>
                </ul>

            </div>
        </div>
