
<%
    var uri = _require('frame/uri');
    var oUser = locals.user;
    var sNavType = locals.navType;

    var nPostCount = locals.postCount || 0;
    var nBookCount = locals.bookCount || 0;
    var nCollectCount = locals.collectCount || 0;
    var nNoteCount = locals.noteCount || 0;

    var fCheck = function (sTypeNow, sType) {
        return sTypeNow === sType ? 'checked' : '';
    };
%>

<div class="hx-tab-header hx-tab-header-alone">
    <a href="<%= uri.profile(oUser, 'posts') %>" class="hx-tab-header-item <%= fCheck(sNavType, 'post') %>">文章(<%= nPostCount %>)</a>
    <a href="<%= uri.profile(oUser, 'books') %>" class="hx-tab-header-item <%= fCheck(sNavType, 'book') %>">书籍(<%= nBookCount %>)</a>
    <a href="<%= uri.profile(oUser, 'collects') %>" class="hx-tab-header-item <%= fCheck(sNavType, 'collect') %>">合集(<%= nCollectCount %>)</a>
    <a href="<%= uri.profile(oUser, 'notes') %>" class="hx-tab-header-item <%= fCheck(sNavType, 'note') %>">专题(<%= nNoteCount %>)</a>
</div>