<%
    var sType = locals.type;
    var uri = _require('frame/uri');
%>
<div class="hx-content-right">
    <div class="hx-block-tips hx-radius clearfix">
        <div class="hx-block-tips-header">
            <h3>关于</h3>
        </div>
        <div class="hx-block-tips-body">
            <p>360读者网 - 读我喜欢</p>
            <p>在这里，你可以: </p>
            <ul class="hx-block-normal-list">
                <li>阅读、收藏本站采集整理的文章</li>
                <li>与他人分享自己的作品</li>
                <li>暂时只想到上面两条，嘤嘤…</li>
            </ul>
        </div>
    </div>
    <ul class="hx-common-menu hx-radius txt-center">
        <% if (sType !== 'signup') { %>
            <li><a class="hx-nav-item" href="<%= uri.signup %>">注册</a></li>
        <% } %>
        <% if (sType === 'signin') { %>
        <li><a class="hx-nav-item hx-animation" href="<%= uri.signForgetPwd %>">忘记密码</a></li>
        <li class="last"><a class="hx-nav-item hx-animation" href="<%= uri.signSend %>">重新发送验证邮件</a></li>
        <% } else { %>
            <li class="last"><a class="hx-nav-item hx-animation" href="<%= uri.signin %>">登录</a></li>
        <% } %>

        <% if (false) { %>
        <li><a href="<%= uri.signSend %>">验证邮件已经发送</a></li>
        <li><a href="<%= uri.signSended %>">修改密码邮件已经发送</a></li>
        <li><a href="<%= uri.signupSucc %>">注册成功</a></li>
        <% } %>
    </ul>
</div>